/* GENERAL TEXT STYLES */

body {
  font-family: "Work Sans", sans-serif;
  color: #333a4d;
  margin: 0px;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #333a4d;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: larger;
}

/* NAVIGATION */

.navigation {
  background: #333a4c;
  box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15),
    0px 29px 45px 4px rgba(0, 0, 0, 0.08),
    0px 11px 55px 10px rgba(0, 0, 0, 0.07);
  height: 59px;
  display: flex;
  justify-content: center;
  position: sticky;
}

.navigation > a {
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  color: white;
  text-decoration: solid;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#work {
    color: white;
    font-weight: 800;
}

#about:hover, #art:hover  {
    transition: all 0.1s ease-in-out;
    border-bottom: solid 1px;
    color: white;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
}

.hero > div {
  margin: 10px;
  padding: 20px;
}

#description {
  width: 400px;
}

.button {
  width: 235px;
  height: 58px;
  background: #333a4c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 30px;
  text-align: center;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
}

.button:hover {
  background: gray;
  cursor: pointer;
}

#download_icon {
  padding-left: 20px;
}

#email_icon {
  padding-right: 10px;
}

.align_image {
  vertical-align: middle;
}

/* CASE STUDIES */

#swbox {
  background: #e7eff8;
  border-radius: 8px;
}

#fsbox {
  background: #def6e6;
  border-radius: 8px;
}

#rrbox {
  background: #fff0ee;
  border-radius: 8px;
}

.case_studies_section_title {
  background: #fff8e1;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.line{
  border-bottom: .09em solid;
  background: #fff8e1;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  border-radius: 1px;
}

#yellow_background{
    background: #fff8e1;
    height: 850px;
}

/*
#line1 {
    padding-bottom: 30px;
    background: #fff8e1;
}

#case_study_line {
    width: 8%;
    background: #fff8e1;
    border-radius: 1px;
}
*/

.casestudies {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 80px;
  background: #fff8e1;
}

#case_study_1, #case_study_2, #case_study_3 {
  position: relative;
  opacity: 0;
}

.case_study_title {
  line-height: 38px;
  font-size: 27px;
  color: #333a4c;
}

.case_study_text {
  padding-left: 10px;
  padding-right: 10px;
}

.casestudy {
  background: white;
  width: 355px;
  height: 566px;
  margin: 15px;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  transition: all 0.25s ease-in-out;
}

.casestudy:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  transform: scale(1.025);
}

.arrow {
  display: flex;
  justify-content: center;
}


/* FOOTER */

.footergrid {
    background-color: #333a4d;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 50px;
    color: white;
    padding-top: 20px;
}

.footer1 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.footer3, .footer6 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* Pushes to the left */
    width: 300px;
}

.footer3 > div, .footer6 > div {
    align-self: center;
}

/* Pushes footer contents together */
#footer3a, #footer6a {
    width: 60px;
}

#footer3b, #footer6b {
    width: 120px;
}

#footer3c, #footer6c {
    width: 400px;
}

/* Pushes to the right */
.footer2, .footer5 {
    width: 300px;
}

/* colors the links white */
#footer3c > a, #footer6c > a{
    color: white;
}



@media only screen and (max-width: 600px){
    .casestudies {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero {
      flex-direction: column;
    }
     #devonImage {
      width: 60%;
      height: auto;
      padding-top: 30px;
    }
    .hero > div {
      margin-top: 0px;
      padding-top: 0px;
    }
    #description {
      width: auto;
    }
    .footer3{
      width: 0px
    }
    .footer2, .footer5 {
      width: auto;
    }

    #yellow_background{
    height: 2100px;
}
}

/* ABOUT SECTION */
#story {
  background-color: #FFF0EE;
  height: auto;
}

.storyTitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.storyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 510px;
  padding-right: 510px;
}

#bullets {
  height: auto;
}

.bulletsTitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.bulletsContent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.bulletsContent > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}